.AdminControl {
  margin-top: 50px;
  position: relative;
  top: 0;
  /*max-height: 250px;
  */background-color: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.AdminControl .infromation {
  text-align: center;
  margin: 10px;
}
.AdminControl .infromation .AdminControlImage {
  margin: 20px auto;
  width: 120px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.AdminControl .infromation .AdminControlImage  img{
  width: 100%;
}
.AdminControl ul li {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
}
.AdminControl ul li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.AdminControl ul li:hover a {
  color: var(--hover-color);
}
.AdminControl ul li button {
  margin: 0;
  padding: 0;

}